<section class="hero-image">
     <img src="/assets/images/tomato.png">
     <h1 class="point-title">Welcome to Pomodoro!</h5>
     <a ui-sref="time">
     <md-button class="md-raised startWork"> Try the timer for free </md-button>
   </a>
</section>


<section class="selling-points">
    <div class="point">
        <img src="/assets/images/Time.svg">
        <h5 class="point-title">Manage Your Time</h5>
    </div>
    <div class="point">
        <img src="/assets/images/Relax.svg">
        <h5 class="point-title">Take Deserved Breaks</h5>
    </div>
    <div class="point">
        <img src="/assets/images/Check.svg">
        <h5 class="point-title">Get More Done</h5>
    </div>
</section>
